body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #db3d3d;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.options {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
    height: 30rem;
    font-size: 6rem;
}
.autor, .estandares {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

}
.autor a, .estandares a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}
.autor:hover, .estandares:hover {
    background-color: #f0f0f0;
}
