body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #db3d3d;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.options {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
    height: 30rem;
    font-size: 6rem;
}
.autor, .estandares {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

}
.autor a, .estandares a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}
.autor:hover, .estandares:hover {
    background-color: #f0f0f0;
}

/*Estilos para autor*/
.izqMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%; 
    width: 200px; 
    background-color: #f0f0f0; 
    padding-top: 20px;
}

.element {
    display: block; 
    padding: 10px 20px;
    text-decoration: none; 
    color: #333; 
    text-align: center;
    font-size: 3rem;
}




.element:hover {
    background-color: #ddd; 
}

/*Estilos para hobbies*/

.saludo {
    background-color: #f8f8f8;
    padding: 20px; 
    text-align: center; 
}

.pre {
    margin: 20px; 
    text-align: justify;
}

.gustos, .musica, .instrumentos, .videojuegos, .lectura {
    margin: 20px; 
}


.gustos h3, .musica h3, .instrumentos h3, .videojuegos h3, .lectura h3 {
    color: #333; 
    margin-bottom: 10px; 
}

.tabla1, .tabla2 {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px; 
}

.titulos {
    background-color: #929292; 
    font-weight: bold; 
}

.tabla1 td, .tabla1 th, .tabla2 td, .tabla2 th {
    border: 1px solid #9f6262; 
    padding: 8px; 
}
.tabla1 th[rowspan], .tabla2 th[rowspan] {
    vertical-align: top; 
}

/* Estilos para la galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px; 
}

.gallery img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.gallery img:hover {
    transform: scale(1.05); 
}

.gallery img:focus {
    outline: none;
}

/*Estilos para contactame */

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

input[type="radio"] {
    margin-right: 10px; 
}

input[type="button"] {
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

input[type="button"]:hover {
    background-color: #555;
}

input[type="button"]:focus {
    outline: none;
}